// -------------------------------------------------------------------------
// Styles for blog entries
// -------------------------------------------------------------------------

.page_title {
	border-bottom: 0.3rem solid $global_blue;
	margin: 2rem 0 2rem 0;
	
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-size: 2.2rem;
		margin: 0;
	}
}

.lead_text {
	font-weight: bold;
	margin: 2rem 0 2rem 0;
}

.body_text {
	font-weight: normal;
	margin: 2rem 0 2rem 0;
}