// Main colors
// -------------------------

//Global colors
$inactive_grey:			#d3d3d3;
$inactive_text:			#999999;

$global_background:		#eeeeee;
$global_blue:           #1562b0;
$global_orange:			#b06315;
$global_green:			#15b063;
$global_purple:			#b01562;
